// colors
$primary : #EF6F09;
$txt-primary: #1C1C1C;
$txt-secondary: #5F5F5F;
$white: #FFFFFF;

// font-size
$txt-font-primary: 1.6rem;
$txt-font-secondary: 1.4rem;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
 $border-radius: 0.5rem;
